a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

nav {
  height: 90px;
  background-color: #f6f6f6;
}

nav ul {
  padding: 2em 1em;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline;
  text-decoration: none;
}

.navigation {
  position: relative;
  float: right;
  bottom: 3em;
}

.navdroite {
  float: right;
  position: relative;
  bottom: 5em;
  left: 39em;
}

.navgauche {
  position: relative;
  left: 9.5em;
  top: 2.5em;
}


.body {
  border:;
  position: relative;
  margin-left : 10em;
  top: -11em;
}

.logo img {
  width: 10em;
  background-color: #F5F6FA;
}

.menugauche {
  width: 10em;
  position: absolute;
  background-color: #F5F6FA;
}

.menugauche li {
  list-style-type: none;
  font-size: 12px;
  font-family: arial;
  color: blue;
}

.menugauche p {
  font-size: 13px;
  text-align: center;
  color: grey;
}

.nav {
display: inline-block;
}

.infotab {
  float: right;
  clear: both;
  border: 1px solid black;
  width: 294px;
  margin: 0 0 .5em 1em;
  background-color: #F0F2F7;
}

 img {
  width: 250px;
  vertical-align: middle;
}

.rang {
  text-align: left;
}

.rang2 {
  text-align: center;
  margin: auto;
  padding: 12px;
  background-color: rgb(113, 145, 233);
}

.texte p {
  font-family: arial;
}

.sommaire {
  margin-right: 95em;
  margin-left: 2em;
  border : 1px solid black;
  margin-top: 1em;
  color: blue;
  background-color: #F5F6FA;
}

.sommaire h2 {
  font-size: 93%;
  color: blue;
  text-align: center;
}

.liste {
  list-style-type: none;
  font-size: 15px
}
